img{
	width: 100%;
	height: auto;
	max-width: 100%;
}

html{
	scroll-behavior: smooth;
}
.container{
	display: block;
	background-color: rgba(245,245,245,1);
	height: 124px;
}
.navbar{
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 24px;
	padding-top:50px;
	padding-bottom:50px;
	padding-left: 187.5px;
	padding-right: 187.5px;

}

button{
	margin-left:10px;
	margin-right: 10px;
	height:24px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	background-color:	rgba(245,245,245,1);
	color: rgba(22, 34, 49, 1);
	border: none;
	cursor: pointer;


}





